.titre {
  text-align: center;
  font-family: Space Grotesk;
  font-weight: normal;
  font-size: 20px;
}

.video-container {
  text-align: center;
  font-size: 10px;
  margin-bottom: 10px;
}

.artiste {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.occlusives {
  text-align: left;
  background-color: #089bc9;
  color: white;
  font-family: KoHo;
  font-size: 24px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 400px;
  border-bottom-left-radius: 0;
  text-decoration: none;
  transition: all ease 0.25s;
}
