.titre {
  text-align: center;
  font-family: Space Grotesk;
  font-weight: normal;
  font-size: 20px;
}

.conteneur-global {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-bottom: 64px;
}

.conteneur-boutons {
  display: flex;
  flex-flow: column;
  width: fit-content;
}

.image {
  width: 60px;
  height: 60px;
  margin: 8px;
}

#lance-de-des {
  width: 80px;
  height: 80px;
}

.conteneur-bulles {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.boite {
  padding: 4px;
}

.forme {
  color: white;
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Lorsqu'on passe sur la boîte */
.forme:hover {
  transform: rotate(10deg);
}

.occlusive-p {
  background-color: #089bc9;
}
.occlusive-t {
  background-color: #18ab87;
}
.occlusive-k {
  background-color: #bd284c;
}

.forme p {
  margin: 0;
}

.conteneur-des {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}
