.titre {
  text-align: center;
  font-family: Space Grotesk;
  font-weight: normal;
  font-size: 20px;
}
.conteneur-global {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-bottom: 64px;
}

.conteneur-boutons {
  display: flex;
  flex-flow: column;
  width: fit-content;
}

.image {
  width: 60px;
  height: 60px;
  margin: 10px;
}
.conteneur-bulles-pleines {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.boite-pleine {
  padding: 4px;
  border: solid;
  border-color: black;
  border-radius: 20px;
}

.forme {
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Lorsqu'on passe sur la boîte */
.forme:hover {
  transform: rotate(10deg);
}
.forme p {
  margin: 0;
}

.occlusive-p {
  background-color: #089bc9;
}
.occlusive-t {
  background-color: #18ab87;
}
.occlusive-k {
  background-color: #bd284c;
}
.occlusive-ps {
  background-color: wheat;
}
.occlusive-ts {
  background-color: yellowgreen;
}
.occlusive-ks {
  background-color: teal;
}
.occlusive-pr {
  background-color: thistle;
}
.occlusive-tr {
  background-color: tomato;
}
.occlusive-kr {
  background-color: turquoise;
}
