.boite {
  background-color: #5441b7;
  text-align: center;
  padding: 24px;
}

.titre {
  text-align: center;
  font-weight: bolder;
  color: white;
  font-family: Space Grotesk;
  font-size: 40px;
}

.texte {
  text-align: center;
  color: white;
  font-weight: normal;
  font-family: Space Grotesk;
  font-size: 20px;
}
