.occlusives {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  /* background-color: turquoise; */
}
.video-container {
  /* background-color: yellow; */
  text-align: center;
}
.video-container img {
  width: 200px;
}
