/* Cette feuille de style est réservée à tous les styles globaux */

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

.menu {
  background-color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* Crée une ombre au niveau du menu à 10% d'opacité */
  box-shadow: 0px -10px 20px #00000010;
  height: 80px;
  width: 100%;
}

.boutton {
  background-color: #5441b7;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 400px; /* Une valeur arbitraire mais haute pour faire des bords complètement ronds */
  border-bottom-left-radius: 0;
  text-decoration: none;
  transition: all ease 0.25s;
}

/* Lorsque le curseur passe sur le bouton */
.boutton:hover {
  background-color: #3b2b86;
}

.boutton.negatif {
  background-color: #fff;
  color: #5441b7;
}

/* Lorsque le curseur passe sur le bouton */
.boutton.negatif:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Entête avec titre */
.container-titre {
  height: 120px;
}

.container-titre .titre {
  text-align: center;
  background-color: #5441b7;
  color: #fff;
  font-family: Quicksand;
  font-size: 24px;
  padding: 1rem;
  margin: 0;
}

.container-titre .forme {
  height: 80px;
  background-color: #5441b7;
  clip-path: ellipse(50% 50% at 50% 0%);
}
